.App {
  font-family: sans-serif;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  background-color: aqua;
}
.nav-item {
  display: flex;
  margin-right: 2rem;
}
